<mat-sidenav #side position="end" [disableClose]="true">
  <mat-sidenav-container>
    <nav>
      <ul class="navigation-list">
        <li *ngIf="!user" (click)="loginGitHub()">Login</li>
        <li
          *ngFor="let route of routes"
          [routerLink]="route.path"
          (click)="close()">{{route.name}}</li>
        <ng-container *ngIf="user && user.roles.includes('ADMINISTRATOR');">
          <ng-container *ngFor="let admin of adminRoutes">
            <li [routerLink]="admin.path" (click)="close()">{{admin.name}}</li>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="user && user.roles.includes('USER')">
          <li
            *ngFor="let route of authorizedRoutes"
            [routerLink]="route.path"
            (click)="close()">
            {{route.name}}
          </li>
        </ng-container>
        <li *ngFor="let route of linkRoutes">
          <a [href]="route.url">{{route.name}}</a>
        </li>
        <li *ngIf="user" (click)="logout()">Logout</li>
      </ul>
    </nav>
  </mat-sidenav-container>
</mat-sidenav> 