.mat-sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: #424242;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  background-color: #424242;
  margin: 0;
  padding-top: 60px;
}

.navigation-list li {
  padding: 15px 25px 15px 35px;
  text-align: left;
  color: white;
  outline: none;
  transition: .3s background-color, .3s color;
}

nav {
  margin: 0;
  padding: 0;
}

.navigation-list li:hover {
  cursor: pointer;
  background-color: #F9F6F0;
  color: black;
}

a {
  text-decoration: none;
  color: unset;
}