<mat-sidenav #side position="end" [disableClose]="true">
  <mat-sidenav-container>
    <nav>
      <section class="close">
        <button mat-flat-button (click)="toggleSidenav()" color="accent">
          <mat-icon>close</mat-icon>
        </button>
      </section>
      <ul class="navigation-list">
        <li *ngIf="!user" (click)="loginGitHub()">Login</li>
        <li
          *ngFor="let route of routes"
          [routerLink]="route.path"
          (click)="close()">{{route.name}}</li>
        <ng-container *ngIf="user && user.roles.includes('ADMINISTRATOR');">
          <ng-container *ngFor="let admin of adminRoutes">
            <li
              [ngClass]="{ 'active' : admin.path === currentRoute }"
              [routerLink]="admin.path"
              (click)="close()">
              {{admin.name}}
            </li>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="user && user.roles.includes('USER')">
          <li
            [ngClass]="{ 'active' : route.path === currentRoute }"
            *ngFor="let route of authorizedRoutes"
            [routerLink]="route.path"
            (click)="close()">
            {{route.name}}
          </li>
        </ng-container>
        <li *ngFor="let route of linkRoutes">
          <a [href]="route.url" target="_blank">{{route.name}}</a>
        </li>
        <li *ngIf="user" (click)="logout()">Logout</li>
      </ul>
      
      <section class="user" *ngIf="user">
        <img class="avatar" [src]="user.avatar">
        <p>@{{user.username}}</p>
      </section>
    </nav>
  </mat-sidenav-container>
</mat-sidenav> 