.mat-sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: #424242;
}

.navigation-list {
  list-style-type: none;
  padding: 0;
  background-color: #424242;
  margin: 0;
  /* padding-top: 60px; */
}

.navigation-list li {
  padding: 15px 25px 15px 35px;
  text-align: left;
  color: white;
  outline: none;
  transition: .3s background-color, .3s color;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #424242;
}

.navigation-list li:hover {
  cursor: pointer;
  background-color: #F9F6F0;
  color: black;
}

a {
  text-decoration: none;
  color: unset;
}

.close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
  padding-right: 15px;
}

.close .mat-flat-button {
  min-width: unset;
  padding: 0 10px;
}

.user {
  border-top: 2px solid #807f7f;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Jost';
  font-size: 16px;
  overflow: hidden;
}

.avatar {
  width: 64px;
  border-radius: 50%;
  padding: 15px;
}