<div class="main">
  <div class="main-content">
    <section class="main-panel">
      
    </section>
    <aside class="side-panel">
      <mat-card>
        <mat-card-content>
          <button mat-raised-button color="warn" (click)="displayCreateEventDialog()">Create Event</button>
          <button mat-raised-button color="warn">Search Event</button>
          <button mat-raised-button color="warn">Manage Event</button>
          <button mat-raised-button color="warn">View Events</button>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <button mat-raised-button color="warn">Manage Issues</button>
          <button mat-raised-button color="warn">Manage Pull Requests</button>
          <button mat-raised-button color="warn">Manage Users</button>
          <button mat-raised-button color="warn">Search</button>
        </mat-card-content>
      </mat-card>
    </aside>
  </div>
</div>