/* .event-item {
  width: 99%;
  margin: 0 auto;
  margin-top: 20px;
}

mat-card {
  padding: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
mat-card-content {
  font-family: 'Jost';
  padding: 24px;
  font-size: 20px;
}

mat-card-header {
  font-family: 'Jost';
  background-color: #424242;
  color: white;
  padding: 20px 0px 20px 5px;
  height: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
mat-card-actions {
  display: flex;
  background-color: #424242;
  padding-left: 16px;
  margin-left: 0;
  margin-right: 0;
  height: 50px;
  align-items: center;
  align-content: center;
}
.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child, .mat-card-actions .mat-stroked-button:first-child {
  margin-left: unset;
}
.mat-card>.mat-card-actions:last-child {
  padding-bottom: 8px;
}

@media (max-width: 1052px) {
  .event-item {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .event-item {
    width: 95%;
  }
} */

.event-item {
  width: 650px;
  background-color: rgb(216, 216, 216);
  font-family: 'Jost';
  color: white;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  background-color: #636363;
  height: 120px;
  border-bottom-right-radius: 50px;
  font-size: 24px;
  padding: 20px 25px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-description {
  font-size: 16px;
  padding-top: 5px;
}

.event-content {
  padding: 25px;
}

.mat-chip {
  font-size: 18px;
}

.event-content {
  font-family: 'Jost';
}

.event-content h1 {
  color: #636363;
  font-size: 24px;
  padding-left: 5px;
}
.event-footer {
  background-color: #636363;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

@media (max-width: 1024px) {
  .event-item {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header {
    height: 135px;
  }
}
@media (max-width: 320px) {
  .header {
    height: 135px;
  }
}