<div class="event-item">
  <div class="header">
    <div class="header-main">
      <div>
        <p>{{event.eventName}} - {{event.repository.name}}</p>
      </div>
      <div>
        <button mat-fab color="primary" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewLeaderboards()">View Leaderboards</button>
          <button mat-menu-item (click)="viewPullRequests()">View Pull Requests</button>
          <button mat-menu-item (click)="viewRepository()">View Repository</button>
        </mat-menu>
      </div>
    </div>
    <div class="event-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio debitis, quae vero sunt atque eos nobis dolore voluptates recusandae ducimus!</p>
    </div>
  </div>
  <div class="event-content">
    <h1>Points</h1>
    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip>Pull Request: {{event.pullRequestPoints}}</mat-chip>
      <mat-chip>Merged: {{event.mergedPullRequestPoints}}</mat-chip>
      <mat-chip>Issue: {{event.issuePoints}}</mat-chip>
      <mat-chip>Comments: {{event.commentsPoints}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="event-footer">
    <p>Starts On: {{event.startDate | date}}</p>
    <p>Ends On: {{event.endDate | date}}</p>
  </div>
</div>