
.mat-card {
  background-color: rgb(236, 236, 236);
  padding: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mat-card-header {
  background-color: #424242;
  padding: 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 55px;
}

.mat-card-title {
  color: white;
}
.mat-card-subtitle {
  color: white;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.mat-card-content {
  padding: 25px;
}

.mat-card-actions {
  margin: 0;
  padding: 5px;

}