<div>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="card-avatar"
        [style.backgroundImage]="'url(' + userData.avatar_url + ')'"
        [style.backgroundSize]="'cover'">
      </div>
      <mat-card-title>
        <h1>Pull Request #{{pullRequest.number}}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <span>@{{userData.login}} ({{userData.githubId}})</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section class="title-container">
        <h2>You opened a Pull Request for {{repository.name}}</h2>
        <h2>Created on: {{prData.created_at | date: 'medium' }}</h2>
      </section>
      <h3>Status: {{pullRequest.state}}</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="navigate()">View Pull Request</button>
    </mat-card-actions>
  </mat-card>
</div>