.mat-card {
  font-family: 'Jost';
  background-color: #E0E0E0;
  padding: 0;
}

.mat-card-header {
  background-color: #424242;
  padding: 12px;
  height: 40px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.mat-card-subtitle a {
  color: white;
  font-size: 16px;
}

.mat-card-content {
  padding: 16px 16px 0px 16px;
  font-size: 20px;
}

.mat-card-actions {
  margin: 0;
  background-color: #424242;
  padding: 12px;
  height: 40px;
}

.mat-card>.mat-card-actions:last-child {
  padding-bottom: 12px;
}