.mat-card {
  background-color: #E0E0E0;
  padding: 0;
  height: 332px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mat-card-header {
  
  font-family: 'Jost';
  background-color: #424242;
  padding: 24px;
  height: 40px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mat-card-title {
  
  font-family: 'Jost';
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.mat-card-subtitle a {
  
  font-family: 'Jost';
  color: white;
  font-size: 16px;
}

.mat-card-content {
  
  font-family: 'Jost';
  padding: 24px;
  font-size: 20px;
}

#menu {
  position: absolute;
  right: 15px;
  color: white;
  width: 50px !important;
  height: 50px !important;
  top: 20px;
  display: none;
}

#menu .mat-icon {
  font-size: 32px;
  padding-right: 10px;
}

@media (max-width: 1445px) {
  #menu {
    display: unset;
  }
}