<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How do events work?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
      <p>We will host events periodically. They can either be weekly, bi-weekly, or monthly. On the day of the event, the repository will be public and there will be a prompt that explains all of the tasks & features required for the project.</p>
      <p>Every contribution will grant the author a certain amount of points. For example, if you create a pull request, you will be given 1 point. If your pull request gets closed, you will lose the point. If your pull request gets merged, you will receive 2 points.</p>
    </article>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How are events held?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
      <p>All events will be hosted using GitHub. All pull requests and contributions made are on GitHub. Please be sure to sign up for GitHub, it's free.</p>
    </article>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Are there any prerequisites?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
      <p>We ask that you have a basic understanding of programming first, as the projects will require you to be able to actually program. Not having an understanding of programming will hinder your ability to make contributions.</p>
    </article>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What kind of projects will we be able to work on?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
      <p>Projects will all be listed on GitHub. They can vary between either a Web API built with Express.JS, a React Application that fetches & renders data, or a Full-Stack application that allows user authentication.</p>
    </article>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Are we allowed to form teams?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
      <p>Not at the moment.</p>
    </article>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Are there any rewards or prizes?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
      <p>Yes! Rewards are based on different factors, such as the event size and the duration. If we have more contributors than we expect, we will throw in more rewards. If the event spanned out for a longer duration, the prize pool will be bigger.</p>
    </article>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What happens if I don't win? What happens to my points?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
      <p>Your points will accumulate over time. At the moment there are future plans to create a virtual shop that allow you to redeem those points for rewards.</p>
    </article>
  </mat-expansion-panel>
</mat-accordion>