#main {
  background-color: var(--light-dark-color);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.important {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 125px;
  min-height: calc(88vh - 64px);
}

.logo {
  width: 450px;
  transition: width .5s, opacity 1s;
}

.buttons button {
  padding: 15px;
  margin: 15px;
}

.buttons i {
  font-size: 64px;
}

.buttons span {
  font-size: 20px;
  padding-left: 10px;
}

#discord {
  transform: translate(0%, 4px);
  color: #7289DA;
  cursor: pointer;
}

.instructions {
  min-height: 100vh;
  background-color: #EFF1F3;
}

.title {
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.faq-title {
  font-size: 64px;
  padding-top: 60px;
  text-align: center;
}

.faq-subtitle {
  font-size: 32px;
  margin-top: 20px;
}

.article-faq {
  padding: 25px;
  width: 75%;
  margin: 0 auto;
}

.faq-description {
  font-size: 20px;
  line-height: 32px;
}

.article-faq .title {
  padding-top: 25px;
  text-align: center;
}

.code-demo {
  background-color: rgb(219, 219, 219);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 35px 0px;
}

.code-img {
  width: 620px;
}

.github-img {
  width: 350px;
}

@media (max-width: 600px) {
  #main {
    min-height: 100%;
  }
}

@media (max-width: 1150px) {
  .logo {
    width: 450px;
  }

  .important {
    width: 100%;
  }

  .buttons button {
    padding: 15px;
    margin: 10px;
  }
  
  .buttons i {
    font-size: 32px;
  }
  
  .buttons span {
    font-size: 16px;
    padding-left: 10px;
  }
  #discord {
    transform: translate(0%, 2px);
    color: #7289DA;
    cursor: pointer;
  }
  .code-demo {
    flex-direction: column;
  }
  .code-img {
    display: none;
  }
  .github-img {
    
  }
}

@media (max-width: 854px) {
  .faq-title {
    font-size: 48px;
    padding-bottom: 20px;
  }
  .article-faq h2 {
    font-size: 32px;
  }
  .article-faq {
    width: 90%;
    padding: 0;
  }
  .instructions {
    height: 100vh;
  }
}
@media (max-width: 628px) {
  .logo {
    width: 250px;
  }

  .instructions {
    height: 100%;
    padding-bottom: 50px;
  }
  .important {
    margin-top: 75px;
  }
  .github-img {
    width: 80%;
    padding-top: 0;
  }
  .faq-title {
    font-size: 42px;
  }
  .article-faq h2 {
    font-size: 20px;
  }
  .article-faq {
    width: 90%;
    padding: 0;
  }
}