<div id="main">
  <div class="important">
    <section class="buttons">
      <img class="logo" src="assets/image.png" alt="logo"><br/>
      <button mat-raised-button color="primary" (click)="loginGitHub()">
        <i id="github" class="fab fa-github-square"></i>
        <span>Login with GitHub</span>
      </button>
    </section>
  </div>
  <section class="code-demo">
    <img [@fadeInOut]="displayImages ? 'fadeIn' : 'fadeOut'"  src="assets/code.png" class="code-img">
    <img [@fadeInOut]="displayImages ? 'fadeIn' : 'fadeOut'"  src="assets/github.png" class="github-img">
  </section>
  <section class="instructions">
    <h1 class="faq-title">Frequently Asked Questions</h1>
    <article class="article-faq">
      <h2 class="faq-subtitle">Getting Started</h2>
      <p class="faq-description">
        <b>Q: How do I get started?</b><br>
        A: You must first login with GitHub.
        <br>
        <b>Q: What are events hosted on Intellectual Developers?</b><br>
        A: Every period (1 week, 2 weeks, 4 weeks) we want to create an event where users may join together and collaborate on a small project hosted by our Discord Server staff.
        <br>
        <b>Q: What kind of benefits do I get for contributing?</b><br>
        A: Everyone that participates will be merited points based on several factors. Each event will have one winner whom will be rewarded a prize. Prizes can range from a Raspberry Pi, Mechanical Keyboard, Amazon Gift Cards, and more!
      </p>
      <h2 class="faq-subtitle">Contribution & Points</h2>
      <p class="faq-description">
        Q: How do I receive points?<br>
        A: You will receive points each time you make a contribution on one of our GitHub projects.
        <br>
        Q: What is considered a "contribution"?<br>
        A: Contributions may be any of the following:
      </p>
      <ul class="faq-description">
        <li>Providing feedback on someone's Pull Request (1 Point)</li>
        <li>Opening issues regarding bug fixes (1 Point)</li>
        <li>Having your Pull Request approved (2 Points)</li>
      </ul>
    </article>
  </section>
</div>