.mat-toolbar {
  justify-content: space-between;
  font-family: 'Jost';
  z-index: 99999999;
}

#login i {
  padding: 2px;
}

#login {
  position: relative;
}

#github {
  color: #adb3b8;
}

#github:hover {
  cursor: pointer;
  color: white;
}

#discord {
  transform: translate(0%, 2px);
  color: #7289DA;
  cursor: pointer;
}

#discord:hover {
  color: rgb(146, 169, 251);
}

.mat-raised-button {
  min-width: unset;
  padding: 0 10px;
}