.main {
  width: 100%;
  background-color: #E0E0E0;
  height: 500px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}